body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #eaebed;
}

main {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 360px 360px 1fr;
  column-gap: 80px;
  padding: 20px 0;
}
.left-column {
  grid-column: 2;
  text-align: center;
}
img {
  width: 270px;
  height: 455px;
}
.right-column {
  grid-column: 3;
  text-align: center;
}
h1 {
  font-size: 120px;
  line-height: 160px;
  padding-top: 40px;
  color: #343e48;
}
.first-p {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
a {
  display: inline-block;
  background-color: #696f89;
  color: white;
  margin-top: 30px;
  padding: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 992px) {
  main {
    grid-template-columns: 360px 360px;
    column-gap: 20px;
  }
  .left-column {
    grid-column: 1;
  }
  .right-column {
    grid-column: 2;
  }
}
@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 0;
  }
}
